* {
    background-color: black;
}

#setup {
    border: solid red;
}

*.cycle_def {
    margin-right: 1400px;
    border: solid 3px;
    border-color: white;
    border-right: 60;
    padding: 0px;
    margin-left: 300px;
}

.cycle_def h3 {
    color: blue;
    font-size: 28px;
    border: solid 1px white;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 120px;
    border-right: 5px;
    border-top: 2;
}

.cycle_def p {
    font: 18px "Lora";
    color: white;
    margin-top: 0px;
    padding: 10px;
}

.landing_nav {
    color: blue;
}

.cycle_dgrm {
    margin-left: 1000px;
    height: 500px
}